<p>login works!</p>
<div class="menu-center">
    <div class="d-grid gap-5">
        <button class="btn btn-primary btn-success" type="button" [routerLink]="['/Order']" routerLinkActive="router-link-active" >
            สั่งอาหาร
        </button>
        <button class="btn btn-primary btn-success" type="button" [routerLink]="['/Login']" routerLinkActive="router-link-active" >
            เปลี่ยนโต๊ะ
        </button>
        <button class="btn btn-primary btn-success" type="button" [routerLink]="['/AddTable']" routerLinkActive="router-link-active" >
            เพิ่มโต๊ะ
        </button>
    </div>
</div>