.detail-menu{
    font-size : 30px;
    font-weight: bold;
    font-family: "JasmineUPC";
}

.statusT-N{
    color: rgb(248, 0, 0);
    font-size : 25px;
    font-weight: bold;
    font-family: "JasmineUPC";
}



.statusT-Y{
    color: rgb(22, 145, 28);
    font-size : 25px;
    font-weight: bold;
    font-family: "JasmineUPC";
}

.poin{
    color: rgb(16, 121, 21);
    font-size : 25px;
    font-weight: bold;
    font-family: "JasmineUPC";
}
