<div class="container font-style">
    <h1 class="title">เลือกเมนูเสร็จเเล้วกดที่นี้เลยค่ะ -->
        <button type="button" class="btn btn-outline-success detail-menu" (click)="sendOrder()">สั่งเมนู</button>
    </h1>
</div>

<hr>
<div class="container font-style" *ngFor="let menu of menus ; let i = index">
    <div class="row">

        <div class="card mb-3">
            <img src={{menu.img}} class="card-img-top">
            <div class="card-body">
                <!-- ชื่อเมนู -->
                <div class="row g-3 align-items-center card-text detail-menu">
                    <div class="col-6 col-sm-3">
                        <label for="amount">ชื่อ : </label> &nbsp;
                    </div>
                    <div class="col-6 col-sm-6">
                        {{menu.NameMenu}}
                    </div>
                    <div class="col-6 col-sm-4">
                        <p class="card-text detail-menu">

                        </p>
                    </div>
                </div>

                <!-- ราคา -->
                <div class="row g-3 align-items-center card-text detail-menu">
                    <div class="col-6 col-sm-3">
                        <label for="">ราคา : </label> &nbsp;
                    </div>
                    <div class="col-6 col-sm-3">
                        {{menu.Price}}
                    </div>
                    <div class="col-6 col-sm-3">
                        <p class="card-text detail-menu">
                            บาท
                        </p>
                    </div>
                </div>

                <!-- จำนวนจาน -->
                <div class="row g-3 align-items-center card-text detail-menu">
                    <div class="col-6 col-sm-3">
                        <label for="Amount">จำนวน : </label> &nbsp;
                    </div>
                    <div class="col-6 col-sm-3 form-group">
                        <input type="number" class="form-control" placeholder="ใส่จำนวนที่ต้องการ" [(ngModel)]="amount"
                            name="Amount">
                    </div>
                    <div class="col-6 col-sm-3">
                        <p class="card-text detail-menu">
                            จาน
                        </p>
                    </div>
                </div>
                <br>
                <!-- ราละเอียด -->
                <div class="row g-3 align-items-center card-text detail-menu">
                    <div class="col-6 col-sm-3">
                        <label for="detail">รายละเอียด :</label> &nbsp;
                    </div>
                    <div class="col-6 col-sm-6">
                        <input type="text" class="form-control" placeholder="เช่น ไม่เผ็ด ,ไม่เอาหนัง , ไม่งอก , ไม่กิน"
                            [(ngModel)]="detail" name="detail">
                    </div>
                </div>
                <br>
                <!-- Add เพิ่ม -->
                <div class="row g-3 align-items-center card-text detail-menu">
                    <div class="col-6 col-sm-3">
                        <label for="">เพิ่มเติม :</label> &nbsp;
                    </div>
                    <div class="mb-3 form-check col-6 col-sm-6">
                        &nbsp;<input type="checkbox" class="form-check-input" [(ngModel)]="addEgg" name="addEgg">
                        <label class="form-check-label" for="addEgg">ไข่ดาว</label>
                    </div>
                </div>


                <br>
                <div class="d-grid gap-2">
                    <button class="btn btn-success detail-menu" type="button"
                        (click)=addOrder(amount,detail,addEgg,template,i)>เพิ่ม</button>
                    <button class="btn btn-warning detail-menu" type="button" (click)=clearValue()>เคลียร์</button>
                </div>
            </div>
        </div>

    </div>
    <br>
</div>


<ng-template #template>
    <div class="card font-style">
        <div class="card-header bg-success title text-pop">
            เพิ่มลง Order
        </div>
        <div class="card-body">
            <h5 class="card-title detail-menu">เพิ่มลงใน Order สำเร็จ</h5>
            <p class="card-text font-style">ลูกค้าสามารถเลือกเมนูเพิ่มเติมต่อได้ได้</p>
        </div>
    </div>
</ng-template>