<app-bar></app-bar>
<div class="bg">
    <br>
    <div class="container h2">
        <div class="row">
            <div class="col">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"
                    class="bi bi-tree-fill h2" viewBox="0 0 16 16">
                    <path
                        d="M8.416.223a.5.5 0 0 0-.832 0l-3 4.5A.5.5 0 0 0 5 5.5h.098L3.076 8.735A.5.5 0 0 0 3.5 9.5h.191l-1.638 3.276a.5.5 0 0 0 .447.724H7V16h2v-2.5h4.5a.5.5 0 0 0 .447-.724L12.31 9.5h.191a.5.5 0 0 0 .424-.765L10.902 5.5H11a.5.5 0 0 0 .416-.777l-3-4.5z" />
                </svg>
                <label class="h2">Pine-Food</label>
            </div>
        </div>
        <br>
        <button class="btn btn-outline-light" type="button" [routerLink]="['/Order']"
            routerLinkActive="router-link-active">
            สั่งอาหาร
        </button>
        <div *ngIf="OrderedFood == false">
            <br><br>
            <button class="btn btn-outline-light" type="button" [routerLink]="['/ChangTable']"
                routerLinkActive="router-link-active">
                เปลี่ยนโต๊ะ
            </button>
        </div>
        <br><br>
        <button class="btn btn-outline-light right-bottom " type="button" [routerLink]="['/AddTable']"
            routerLinkActive="router-link-active">
            เพิ่มโต๊ะ
        </button>
    </div>
    <br>
</div>