.h2{
    color: rgb(255, 255, 255);
    font-size : 60px;
    font-weight: bold;
    text-align: center; 
}

.btn-outline-light{
    font-size : 60px;
    font-weight: bold;
    text-align: center;
    width: 350px;
}

html {
    height: 1980px;
}

.bg {
    /* The image used */
    background-image: url("https://media.discordapp.net/attachments/607168575509233704/803934083364290590/8a5100c7919128817aff8d2c1a9ae86d.png?width=1007&height=566");
  
    width: 100%;
    /* Full height */
    height: 856px; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



