<div>
    <div class="d-grid gap-5" >
        
        <button class="btn btn-primary btn-success left-bottom" type="button" [routerLink]="['/Order']" routerLinkActive="router-link-active" >
            สั่งอาหาร
        </button>
        <button class="btn btn-primary btn-success center-bottom" type="button" [routerLink]="['/ChangTable']" routerLinkActive="router-link-active" >
            เปลี่ยนโต๊ะ
        </button>
        <button class="btn btn-primary btn-success right-bottom " type="button" [routerLink]="['/AddTable']" routerLinkActive="router-link-active" >
            เพิ่มโต๊ะ
        </button>
    </div>
</div>
