<br>
<div class="container">
    <p class="text-center title">ลงทะเบียนพนักงาน</p>
    <hr>
    <div class="input-group input-group-lg">
        <span class="input-group-text" id="inputGroup-sizing-lg">UserName</span>
        <input type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-lg" [(ngModel)]="userName" name="userName">
    </div>
    <br>
    <div class="input-group input-group-lg">
        <span class="input-group-text" id="inputGroup-sizing-lg">Password</span>
        <input type="password" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-lg" [(ngModel)]="password" name="password">
    </div>
    <br>
    <div class="input-group input-group-lg">
        <span class="input-group-text" id="inputGroup-sizing-lg">Confirm Password</span>
        <input type="password" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-lg" [(ngModel)]="cpassword" name="cpassword">
    </div>
    <p *ngIf="errorPass == true"  class="red font-style">รหัสผ่านไม่ตรงกัน</p>
    <p *ngIf="errorInput == true"  class="red font-style">กรุณากรอข้อมูลให้ครบ</p>
    <br>
    <p class="detail-menu">เลือกตำแหน่งที่ต้องการสมัตร</p>
    <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" [(ngModel)]="position"
        name="position">
        <option value="0">กรุณาเลือกตำแหน่งงานของคุณ</option>
        <option value="1">พนักงานเสริฟ</option>
        <option value="2">พ่อครัว/เเม่ครัว</option>
        <option value="3">แคชเชียร์</option>
    </select>
    <hr>
    <div class="d-grid gap-2">
        <button class="btn btn-success detail-menu" type="button"
            (click)="register(userName,password,cpassword,position)">ลงทะเบียน</button>
    </div>
</div>