<br>
<div class="container font-style">
    <h1 class="title"> พนักงานเสริฟ
        <!-- <button type="button" class="btn btn-outline-success detail-menu" (click)="sendOrder()">สั่งเมนู</button> -->
    </h1>
</div>

<hr>
<br><br><br>
<div class="container">
    <div class="card">
        <div class="btn btn-success" (click)="ngOnInit()">
            <div class="">
                <div class="row">
                    <div class="col-12 title font-style">
                        <label for="">ดู Order โต๊ะ {{orderMakes[0].IdTable}}</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="">
            <div class="card-body" *ngFor="let orderMake of orderMakes; let i=index">
                <h5 class="card-title detail-menu"> {{orderMake.NameMenu}}</h5>
                <p class="card-text detail">จำนวน : &nbsp; {{orderMake.Amount}} &nbsp; จาน</p>
                <p class="card-text detail">รายละเอียดเมนู : &nbsp; {{orderMake.Detail}}</p>
                <p class="card-text detail">ไข่ดาว : &nbsp; {{orderMake.AddEgg}}</p>
                <p class="card-text detail">ราคา : &nbsp; {{orderMake.Price}} &nbsp; บาท </p>
                <hr>
            </div>
            <div class="d-grid gap-2">
                <button type="button" class="btn btn-outline-success" (click)="sendServed(orderMakes,template)">
                    ส่งเสริฟ
                </button>
            </div>
        </div>
    </div>
</div>