<p>chef works!</p>
<button (click)="showDetail()">text</button>
<div *ngFor="let detailOrder of detailOrders; let i=index">
    <div class="card">
        <h5 class="card-header font-style title">โต๊ะ {{orders[i].IdTable}}</h5>
        <!-- <div class="card-body" *ngFor="let order of orders; let i=index"> -->
            <div *ngFor="let menuOrders of menuOrder">
                <h5 class="card-title">{{orders[i].IdOrder}}</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a class="btn btn-primary">Go somewhere</a>
            </div>
        <!-- </div> -->
    </div>
</div>